<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<title>Eventex</title>
</head>

<body>
    <div id="page">
        <!--<div class="topNaviagationLink"><a href="../templates/index.html">Home</a></div>-->
    </div>
    <div id="mainPicture">
    	<div class="picture">
	       	<div id="headerTitle">Eventex</div>
	</div>
    </div>
    <div class="contentBox">
		<div class="innerBox">
			<h1>Bem-vindo ao Eventex</h1>
			<div class="contentText">
            			<p>O evento mais sensacional do ano depois do Dev in Rio!</p><br />
             			<p>Você não pode perder esta oportunidade!</p><br />
			 	<p>Abertura da inscrições em 18/03/2012.</p><br />
			 	<p>Mais informações entre em contato eventex@eventex.com.br</p><br />
            </div>		
        </div>
    </div>
</body>
</html>
