{% extends 'base.html' %}
{% block content %}
	<h1>Bem-vindo ao Eventex</h1>
	<div class="contentText">
	<p>O evento mais sensacional do ano depois do Dev in Rio!</p><br/>
	<p>Você não pode perder esta oportunidade!</p><br/>
 	<p><strong>
		<a href="{% url subscriptions:subscribe %}">Inscreva-se Já!</a>
	</strong>
	</p><br/>
 	<p>Para dúvidas e mais informações entre em contato com
		<a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a>
	</p><br/>
{% endblock content %}
